In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv(r'DDW-C18-0000.csv') # READING C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX
df = df[5:]  # STRIPPING UNWANTED ROWS
df.drop(df.columns[[1, 5, 8]], axis = 1, inplace = True) # DROPPING UNWANTED COLUMNS
# RENAMING COLUMNS WITH SUITABLE NAMES
df.columns = ['state/ut','Name','Total/Rural/Urban','Age-group','Males-Numberspeakingsecondlanguage','Females-Numberspeakingsecondlanguage','Males-Numberspeakingthirdlanguage','Females-Numberspeakingthirdlanguage']

In [3]:
# EXTRACTING ONLY REQUIRED ROWS AND THEN DROPPING UNWANTED COLUMNS
df = df[df['Total/Rural/Urban']=='Total']
df = df[df['Age-group']=='Total']

In [4]:
df = df.drop(['Total/Rural/Urban','Age-group'], axis = 1)

In [5]:
# CONVERTING REQUIRED COLUMNS INTO SPECIFIC DATA TYPE
df = df.astype({'Males-Numberspeakingsecondlanguage':float,'Females-Numberspeakingsecondlanguage':float,'Males-Numberspeakingthirdlanguage':float,'Females-Numberspeakingthirdlanguage':float})
df['Males-Numberspeakingsecondlanguage'] = df['Males-Numberspeakingsecondlanguage']-df['Males-Numberspeakingthirdlanguage']
df['Females-Numberspeakingsecondlanguage'] = df['Females-Numberspeakingsecondlanguage']-df['Females-Numberspeakingthirdlanguage']

In [6]:
df.head()

,state/ut,Name,Males-Numberspeakingsecondlanguage,Females-Numberspeakingsecondlanguage,Males-Numberspeakingthirdlanguage,Females-Numberspeakingthirdlanguage
5,00,INDIA,126159551.0,102819639.0,50536832.0,35472748.0
35,01,JAMMU & KASHMIR,2376063.0,1710907.0,1258756.0,837464.0
65,02,HIMACHAL PRADESH,483488.0,411931.0,200478.0,146808.0
95,03,PUNJAB,2900342.0,2304969.0,4383841.0,3446072.0
125,04,CHANDIGARH,144341.0,113600.0,178557.0,143422.0

In [7]:
dfp = pd.read_csv(r'DDW_PCA0000_2011_Indiastatedist.csv')  # READING INDIA CENSUS DETAILS

In [8]:
dfp = dfp.iloc[:,6:13] # Slicing unuseful info from dataframe
dfp = dfp[dfp['TRU'] == 'Total']

# EXTRACTING INDIA ROW
dfp_india = dfp[dfp['Level']=='India']
dfp_india = dfp_india.drop(['Level','TRU','No_HH','TOT_P'],axis=1)
dfp_india['Name'] = "INDIA"

dfp = dfp[dfp['Level'] == 'STATE']
dfp = dfp.drop(['Level','TRU','No_HH','TOT_P'], axis = 1)

dfp = pd.concat([dfp_india, dfp], ignore_index=True)

In [9]:
dfp.iloc[:20]

                 Name      TOT_M      TOT_F
0               INDIA  623270258  587584719
1     JAMMU & KASHMIR    6640662    5900640
2    HIMACHAL PRADESH    3481873    3382729
3              PUNJAB   14639465   13103873
4          CHANDIGARH     580663     474787
5         UTTARAKHAND    5137773    4948519
6             HARYANA   13494734   11856728
7        NCT OF DELHI    8987326    7800615
8           RAJASTHAN   35550997   32997440
9       UTTAR PRADESH  104480510   95331831
10              BIHAR   54278157   49821295
11             SIKKIM     323070     287507
12  ARUNACHAL PRADESH     713912     669815
13           NAGALAND    1024649     953853
14            MANIPUR    1438586    1417208
15            MIZORAM     555339     541867
16            TRIPURA    1874376    1799541
17          MEGHALAYA    1491832    1475057
18              ASSAM   15939443   15266133
19        WEST BENGAL   46809027   44467088

In [10]:
final_df = pd.merge(df, dfp, on='Name') # MERGING BOTH DATAFRAMES
# CONVERTING REQUIRED COLUMNS INTO SPECIFIC DATA TYPE
final_df = final_df.astype({'Males-Numberspeakingsecondlanguage':float,'Females-Numberspeakingsecondlanguage':float,'Males-Numberspeakingthirdlanguage':float,'Females-Numberspeakingthirdlanguage':float,'TOT_M':float,'TOT_F':float})
# PERCENTAGE OF MALES/FEMALES SPEAKING 1 OR 2 OR 3+ LANGUAGES 
final_df['male-percentage-3-lang'] = final_df['Males-Numberspeakingthirdlanguage']*100/final_df['TOT_M']
final_df['female-percentage-3-lang'] = final_df['Females-Numberspeakingthirdlanguage']*100/final_df['TOT_F']
final_df['male-percentage-2-lang'] = final_df['Males-Numberspeakingsecondlanguage']*100/final_df['TOT_M']
final_df['female-percentage-2-lang'] = final_df['Females-Numberspeakingsecondlanguage']*100/final_df['TOT_F']
final_df['Males-Numberspeakingfirstlanguage'] = final_df['TOT_M'] - final_df['Males-Numberspeakingsecondlanguage'] - final_df['Males-Numberspeakingthirdlanguage']
final_df['Females-Numberspeakingfirstlanguage'] = final_df['TOT_F'] - final_df['Females-Numberspeakingsecondlanguage'] - final_df['Females-Numberspeakingthirdlanguage']
final_df['male-percentage-1-lang'] = final_df['Males-Numberspeakingfirstlanguage']*100/final_df['TOT_M']
final_df['female-percentage-1-lang'] = final_df['Females-Numberspeakingfirstlanguage']*100/final_df['TOT_F']
# MALE TO FEMALE RATIO OF LANGUAGE SPEAKERS
final_df['mtof-3-lang'] = final_df['male-percentage-3-lang'] / final_df['female-percentage-3-lang']
final_df['mtof-2-lang'] = final_df['male-percentage-2-lang'] / final_df['female-percentage-2-lang']
final_df['mtof-1-lang'] = final_df['male-percentage-1-lang'] / final_df['female-percentage-1-lang']
# MALE TO FEMALE POPULATION RATIO
final_df['mtof-populationratio'] = final_df['TOT_M']/final_df['TOT_F']

In [11]:
final_df

,state/ut,Name,Males-Numberspeakingsecondlanguage,Females-Numberspeakingsecondlanguage,Males-Numberspeakingthirdlanguage,Females-Numberspeakingthirdlanguage,TOT_M,TOT_F,male-percentage-3-lang,female-percentage-3-lang,male-percentage-2-lang,female-percentage-2-lang,Males-Numberspeakingfirstlanguage,Females-Numberspeakingfirstlanguage,male-percentage-1-lang,female-percentage-1-lang,mtof-3-lang,mtof-2-lang,mtof-1-lang,mtof-populationratio
0,00,INDIA,126159551.0,102819639.0,50536832.0,35472748.0,623270258.0,587584719.0,8.108334,6.037044,20.241548,17.498692,446573875.0,449292332.0,71.650118,76.464264,1.343097,1.156746,0.937041,1.060733
1,01,JAMMU & KASHMIR,2376063.0,1710907.0,1258756.0,837464.0,6640662.0,5900640.0,18.955279,14.192766,35.780514,28.995278,3005843.0,3352269.0,45.264207,56.811956,1.335559,1.234012,0.796737,1.125414
2,02,HIMACHAL PRADESH,483488.0,411931.0,200478.0,146808.0,3481873.0,3382729.0,5.757763,4.339928,13.885860,12.177476,2797907.0,2823990.0,80.356377,83.482596,1.326696,1.140290,0.962552,1.029309
3,03,PUNJAB,2900342.0,2304969.0,4383841.0,3446072.0,14639465.0,13103873.0,29.945363,26.298118,19.811803,17.589983,7355282.0,7352832.0,50.242833,56.111899,1.138688,1.126312,0.895404,1.117186
4,04,CHANDIGARH,144341.0,113600.0,178557.0,143422.0,580663.0,474787.0,30.750539,30.207651,24.857964,23.926519,257765.0,217765.0,44.391497,45.865830,1.017972,1.038929,0.967856,1.222997
5,05,UTTARAKHAND,873233.0,696701.0,109529.0,78293.0,5137773.0,4948519.0,2.131838,1.582150,16.996333,14.078980,4155011.0,4173525.0,80.871829,84.338870,1.347431,1.207213,0.958892,1.038245
6,06,HARYANA,2576417.0,1880373.0,681228.0,489343.0,13494734.0,11856728.0,5.048102,4.127134,19.092018,15.859122,10237089.0,9487012.0,75.859880,80.013744,1.223150,1.203851,0.948086,1.138150
7,07,NCT OF DELHI,3050945.0,2408036.0,741513.0,616720.0,8987326.0,7800615.0,8.250652,7.906043,33.947194,30.869822,5194868.0,4775859.0,57.802154,61.224134,1.043588,1.099689,0.944107,1.152130
8,08,RAJASTHAN,3747078.0,2719357.0,642842.0,363909.0,35550997.0,32997440.0,1.808225,1.102840,10.540008,8.241115,31161077.0,29914174.0,87.651767,90.656045,1.639608,1.278954,0.966861,1.077387
9,09,UTTAR PRADESH,11762916.0,8525029.0,1546993.0,1038671.0,104480510.0,95331831.0,1.480652,1.089532,11.258479,8.942479,91170601.0,85768131.0,87.260869,89.967989,1.358980,1.258989,0.969910,1.095967
10,10,BIHAR,8415020.0,6664193.0,1028475.0,654097.0,54278157.0,49821295.0,1.894823,1.312886,15.503511,13.376194,44834662.0,42503005.0,82.601666,85.310920,1.443250,1.159038,0.968243,1.089457
11,11,SIKKIM,113913.0,93684.0,99427.0,81975.0,323070.0,287507.0,30.775683,28.512349,35.259541,32.584946,109730.0,111848.0,33.964775,38.902705,1.079381,1.082081,0.873070,1.123694
12,12,ARUNACHAL PRADESH,241747.0,225647.0,236666.0,181885.0,713912.0,669815.0,33.150584,27.154513,33.862297,33.687959,235499.0,262283.0,32.987119,39.157529,1.220813,1.005175,0.842421,1.065835
13,13,NAGALAND,355306.0,336936.0,306593.0,230888.0,1024649.0,953853.0,29.921759,24.205826,34.675874,35.323682,362750.0,386029.0,35.402367,40.470492,1.236139,0.981661,0.874770,1.074221
14,14,MANIPUR,404042.0,367760.0,356245.0,260573.0,1438586.0,1417208.0,24.763553,18.386362,28.086051,25.949614,678299.0,788875.0,47.150396,55.664024,1.346843,1.082330,0.847053,1.015085
15,15,MIZORAM,139450.0,117287.0,34714.0,18252.0,555339.0,541867.0,6.250957,3.368354,25.110788,21.644979,381175.0,406328.0,68.638255,74.986666,1.855790,1.160121,0.915339,1.024862
16,16,TRIPURA,584356.0,485668.0,129143.0,69434.0,1874376.0,1799541.0,6.889920,3.858428,31.176029,26.988438,1160877.0,1244439.0,61.934052,69.153134,1.785680,1.155162,0.895607,1.041586
17,17,MEGHALAYA,280331.0,267058.0,160749.0,114182.0,1491832.0,1475057.0,10.775275,7.740853,18.791057,18.104927,1050752.0,1093817.0,70.433668,74.154219,1.392001,1.037897,0.949827,1.011372
18,18,ASSAM,5343117.0,4764977.0,2636287.0,1716210.0,15939443.0,15266133.0,16.539392,11.241943,33.521353,31.212731,7960039.0,8784946.0,49.939254,57.545326,1.471222,1.073964,0.867825,1.044105
19,19,WEST BENGAL,6992983.0,5151860.0,1789355.0,1091650.0,46809027.0,44467088.0,3.822671,2.454962,14.939390,11.585782,38026689.0,38223578.0,81.237939,85.959256,1.557120,1.289459,0.945075,1.052667
20,20,JHARKHAND,4508254.0,3899427.0,965960.0,627079.0,16930315.0,16057819.0,5.705505,3.905132,26.628294,24.283665,11456101.0,11531313.0,67.666201,71.811203,1.461028,1.096552,0.942279,1.054335
21,21,ODISHA,4506387.0,3793359.0,3359211.0,2166067.0,21212136.0,20762082.0,15.836269,10.432802,21.244381,18.270610,13346538.0,14802656.0,62.919350,71.296588,1.517931,1.162763,0.882502,1.021677
22,22,CHHATTISGARH,1575471.0,1386183.0,245150.0,177419.0,12832895.0,12712303.0,1.910325,1.395648,12.276817,10.904263,11012274.0,11148701.0,85.812858,87.700089,1.368773,1.125873,0.978481,1.009486
23,23,MADHYA PRADESH,4716569.0,3834160.0,758130.0,499823.0,37612306.0,35014503.0,2.015643,1.427474,12.539962,10.950205,32137607.0,30680520.0,85.444394,87.622320,1.412035,1.145181,0.975144,1.074192
24,24,GUJARAT,9878480.0,7443290.0,5181262.0,3389309.0,31491260.0,28948432.0,16.453016,11.708092,31.368958,25.712239,16431518.0,18115833.0,52.178027,62.579669,1.405269,1.220001,0.833786,1.087840
25,25,DAMAN & DIU,49404.0,32623.0,21856.0,12746.0,150301.0,92946.0,14.541487,13.713339,32.870041,35.098875,79041.0,47577.0,52.588472,51.187786,1.060390,0.936498,1.027364,1.617079
26,26,DADRA & NAGAR HAVELI,68955.0,58512.0,44256.0,27260.0,193760.0,149949.0,22.840628,18.179514,35.587841,39.021267,80549.0,64177.0,41.571532,42.799218,1.256394,0.912011,0.971315,1.292173
27,27,MAHARASHTRA,20579481.0,17115651.0,11455478.0,8269251.0,58243056.0,54131277.0,19.668401,15.276290,35.333793,31.618783,26208097.0,28746375.0,44.997805,53.104927,1.287512,1.117494,0.847338,1.075959
28,28,ANDHRA PRADESH,8357610.0,6881348.0,3836382.0,2507994.0,42442146.0,42138631.0,9.039086,5.951769,19.691771,16.330260,30248154.0,32749289.0,71.269144,77.717971,1.518723,1.205846,0.917023,1.007203
29,29,KARNATAKA,8513790.0,7906675.0,4519095.0,3313034.0,30966657.0,30128640.0,14.593422,10.996295,27.493410,26.243053,17933772.0,18908931.0,57.913168,62.760652,1.327122,1.047645,0.922762,1.027815
30,30,GOA,192062.0,192841.0,395322.0,345927.0,739140.0,719405.0,53.484049,48.085154,25.984523,26.805624,151756.0,180637.0,20.531428,25.109222,1.112278,0.969368,0.817685,1.027432
31,31,LAKSHADWEEP,4903.0,3669.0,6435.0,3546.0,33123.0,31350.0,19.427588,11.311005,14.802403,11.703349,21785.0,24135.0,65.770009,76.985646,1.717583,1.264801,0.854315,1.056555
32,32,KERALA,2559063.0,2415511.0,1734057.0,1454756.0,16027412.0,17378649.0,10.819320,8.370938,15.966789,13.899303,11734292.0,13508382.0,73.213891,77.729759,1.292486,1.148747,0.941903,0.922247
33,33,TAMIL NADU,9590729.0,8378378.0,1410192.0,1036971.0,36137975.0,36009055.0,3.902244,2.879751,26.539199,23.267420,25137054.0,26593706.0,69.558557,73.852830,1.355063,1.140616,0.941854,1.003580
34,34,PUDUCHERRY,172773.0,147854.0,40809.0,30856.0,612511.0,635442.0,6.662574,4.855833,28.207330,23.267899,398929.0,456732.0,65.130096,71.876269,1.372077,1.212285,0.906142,0.963913
35,35,ANDAMAN & NICOBAR ISLANDS,100532.0,84185.0,41846.0,30862.0,202871.0,177710.0,20.626901,17.366496,49.554643,47.372123,60493.0,62663.0,29.818456,35.261381,1.187741,1.046072,0.845641,1.141585

In [12]:
# COMPUTING P VALUES
p_values = []
for index, row in final_df.iterrows():
    a = [row['mtof-3-lang'],row['mtof-2-lang'],row['mtof-1-lang']]
    b = [row['mtof-populationratio'],row['mtof-populationratio'],row['mtof-populationratio']]
    ttest,p_value = ttest_ind(a,b,equal_var=False)
    p_values.append(p_value)

In [13]:
p_values

[0.544581481513664,
 0.9858377677078174,
 0.3919499869099863,
 0.5051186283857573,
 0.009503334511849156,
 0.3624921883263337,
 0.8959052171329658,
 0.1138834773394853,
 0.3790585446094943,
 0.4816594643576111,
 0.5413989346446864,
 0.2465505743699638,
 0.7324624979018067,
 0.7249401648542831,
 0.6471371869216989,
 0.41740998282933517,
 0.46409781049163934,
 0.48371201414040477,
 0.6499997423670519,
 0.35541136805060103,
 0.5412649556135252,
 0.4617593114659908,
 0.3225035363516836,
 0.5020071580806412,
 0.7359347054844332,
 0.003679011843063834,
 0.14708818306138832,
 0.9550509874082701,
 0.35632267100692183,
 0.6111018679542035,
 0.5477731023537871,
 0.4665736265210172,
 0.18089982995633377,
 0.3554042208173043,
 0.28170367090822174,
 0.36586923137160576]

In [14]:
final_df['p-value']=p_values

In [15]:
f_df = final_df[['state/ut','male-percentage-3-lang','female-percentage-3-lang','male-percentage-2-lang','female-percentage-2-lang','male-percentage-1-lang','female-percentage-1-lang','p-value']]
fc_df = f_df[['state/ut','male-percentage-3-lang','female-percentage-3-lang','p-value']]
fb_df = f_df[['state/ut','male-percentage-2-lang','female-percentage-2-lang','p-value']]
fa_df = f_df[['state/ut','male-percentage-1-lang','female-percentage-1-lang','p-value']]
fc_df.rename(columns = {'male-percentage-3-lang':'male-percentage','female-percentage-3-lang':'female-percentage'}, inplace = True)
fb_df.rename(columns = {'male-percentage-2-lang':'male-percentage','female-percentage-2-lang':'female-percentage'}, inplace = True)
fa_df.rename(columns = {'male-percentage-1-lang':'male-percentage','female-percentage-1-lang':'female-percentage'}, inplace = True)

c:\users\siddh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [16]:
#f_df.to_csv (r'gender-india.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE

In [17]:
fa_df.to_csv (r'gender-india-a.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE
fb_df.to_csv (r'gender-india-b.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE
fc_df.to_csv (r'gender-india-c.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE

In [18]:
ttest,p_value = ttest_ind(a=[1.187741,1.046072,0.958529],b=[1.141585,1.141585,1.141585],equal_var=False)

In [19]:
p_value

0.3657768428321173

In [20]:
ttest

-1.1600943440645626

In [21]:
final_df['male-percentage'][0]

KeyError: 'male-percentage'

In [ ]:
from scipy.stats import ttest_rel
t_value,p_value=ttest_rel(final_df['male-percentage'][0],final_df['female-percentage'][0])

In [ ]:
p_value

In [ ]:
from scipy.stats import ttest_1samp
a = [final_df['male-percentage'][20],final_df['female-percentage'][20]]
t_value,p_value=ttest_1samp(a,popmean=np.mean(a))

In [ ]:
np.mean(a)