In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv(r'DDW-C18-0000.csv')  # READING C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX
df = df[5:]  # STRIPPING UNWANTED ROWS
df.drop(df.columns[[1, 6, 7, 9, 10]], axis = 1, inplace = True)  # DROPPING UNWANTED COLUMNS
# RENAMING COLUMNS WITH SUITABLE NAMES
df.columns = ['state/ut','AreaName','Total/Rural/Urban','Age-group','Persons-Numberspeakingsecondlanguage','Persons-Numberspeakingthirdlanguage']

In [3]:
# EXTRACTING ONLY REQUIRED ROWS AND THEN DROPPING UNWANTED COLUMNS
df = df[df['Total/Rural/Urban']!="Total"]
df = df[df['Age-group']=='Total']

In [4]:
df = df.drop(['Age-group'], axis = 1)

In [5]:
df

,state/ut,AreaName,Total/Rural/Urban,Persons-Numberspeakingsecondlanguage,Persons-Numberspeakingthirdlanguage
15,00,INDIA,Rural,162641485,35383989
25,00,INDIA,Urban,152347285,50625591
45,01,JAMMU & KASHMIR,Rural,4167238,1258724
55,01,JAMMU & KASHMIR,Urban,2015952,837496
75,02,HIMACHAL PRADESH,Rural,981518,280817
...,...,...,...,...,...
1015,33,TAMIL NADU,Urban,12325853,1878494
1035,34,PUDUCHERRY,Rural,80981,5029
1045,34,PUDUCHERRY,Urban,311311,66636
1065,35,ANDAMAN & NICOBAR ISLANDS,Rural,152600,38136
1075,35,ANDAMAN & NICOBAR ISLANDS,Urban,104825,34572

In [6]:
dfp = pd.read_csv(r'DDW_PCA0000_2011_Indiastatedist.csv') # READING INDIA CENSUS DETAILS
dfp = dfp.iloc[:,6:13] # Extracting only required information from dataframe

In [7]:
dfp = dfp[dfp['TRU'] != 'Total']
dfp = dfp.drop(['No_HH','TOT_M','TOT_F'], axis = 1)
dfp = dfp[dfp['Level']!="DISTRICT"]

In [8]:
# CONVERTING LOWER CASE TO UPPER CASE
dfp['Level'] = dfp['Level'].str.upper()
dfp['Name'] = dfp['Name'].str.upper()

In [9]:
dfp = dfp.drop(['Level'], axis = 1)

In [10]:
dfp.columns = ['AreaName','Total/Rural/Urban','TOT_P']

In [11]:
dfp

                       AreaName Total/Rural/Urban      TOT_P
1                         INDIA             Rural  833748852
2                         INDIA             Urban  377106125
4               JAMMU & KASHMIR             Rural    9108060
5               JAMMU & KASHMIR             Urban    3433242
73             HIMACHAL PRADESH             Rural    6176050
...                         ...               ...        ...
1904                 TAMIL NADU             Urban   34917440
2002                 PUDUCHERRY             Rural     395200
2003                 PUDUCHERRY             Urban     852753
2017  ANDAMAN & NICOBAR ISLANDS             Rural     237093
2018  ANDAMAN & NICOBAR ISLANDS             Urban     143488

[72 rows x 3 columns]

In [12]:
# MERGING BOTH DATAFRAMES
df_overall = df.merge(dfp, on=['AreaName', 'Total/Rural/Urban'])

In [13]:
# CONVERTING REQUIRED COLUMNS INTO SPECIFIC DATA TYPE
df_overall = df_overall.astype({'Persons-Numberspeakingsecondlanguage':float,'Persons-Numberspeakingthirdlanguage':float,'TOT_P':float})
# COMPUTING PEOPLE SPEAKING ONE, EXACTLY TWO 2 LANGUAGES 
df_overall['Persons-Numberspeakingfirstlanguage'] = df_overall['TOT_P'] - df_overall['Persons-Numberspeakingsecondlanguage']
df_overall['Persons-Numberspeakingsecondlanguage'] = df_overall['TOT_P'] - df_overall['Persons-Numberspeakingthirdlanguage']
# CONVERTING REQUIRED COLUMNS INTO SPECIFIC DATA TYPE
df_overall = df_overall.astype({'Persons-Numberspeakingfirstlanguage':float})
# TAKING PERCENTAGES BY DIVIDING WITH TOTAL POPULATION OF RESPECTIVE URBAN OR RURAL AREA
df_overall['percentage-3-lang'] = df_overall['Persons-Numberspeakingthirdlanguage']*100/df_overall['TOT_P']
df_overall['percentage-2-lang'] = df_overall['Persons-Numberspeakingsecondlanguage']*100/df_overall['TOT_P']
df_overall['percentage-1-lang'] = df_overall['Persons-Numberspeakingfirstlanguage']*100/df_overall['TOT_P']

In [14]:
df_overall

,state/ut,AreaName,Total/Rural/Urban,Persons-Numberspeakingsecondlanguage,Persons-Numberspeakingthirdlanguage,TOT_P,Persons-Numberspeakingfirstlanguage,percentage-3-lang,percentage-2-lang,percentage-1-lang
0,00,INDIA,Rural,798364863.0,35383989.0,833748852.0,671107367.0,4.243963,95.756037,80.492749
1,00,INDIA,Urban,326480534.0,50625591.0,377106125.0,224758840.0,13.424760,86.575240,59.600952
2,01,JAMMU & KASHMIR,Rural,7849336.0,1258724.0,9108060.0,4940822.0,13.819891,86.180109,54.246700
3,01,JAMMU & KASHMIR,Urban,2595746.0,837496.0,3433242.0,1417290.0,24.393736,75.606264,41.281389
4,02,HIMACHAL PRADESH,Rural,5895233.0,280817.0,6176050.0,5194532.0,4.546871,95.453129,84.107674
...,...,...,...,...,...,...,...,...,...,...
67,33,TAMIL NADU,Urban,33038946.0,1878494.0,34917440.0,22591587.0,5.379816,94.620184,64.700010
68,34,PUDUCHERRY,Rural,390171.0,5029.0,395200.0,314219.0,1.272520,98.727480,79.508856
69,34,PUDUCHERRY,Urban,786117.0,66636.0,852753.0,541442.0,7.814221,92.185779,63.493415
70,35,ANDAMAN & NICOBAR ISLANDS,Rural,198957.0,38136.0,237093.0,84493.0,16.084827,83.915173,35.637071
71,35,ANDAMAN & NICOBAR ISLANDS,Urban,108916.0,34572.0,143488.0,38663.0,24.094001,75.905999,26.945110

In [15]:
# COMPUTING REQUIRED INFORMATION FOR RURAL AND URBAN AREAS SEPARATELY
df_rural = df_overall[df_overall['Total/Rural/Urban']=="Rural"]
df_urban = df_overall[df_overall['Total/Rural/Urban']=="Urban"]
df_rural = df_rural.drop(['Total/Rural/Urban'], axis = 1)
df_urban = df_urban.drop(['Total/Rural/Urban'], axis = 1)
# MERGING URBAN AND RURAL AREAS INTO ONE DATAFRAME
df_overall = df_urban.merge(df_rural, on=['AreaName','state/ut'])
# AFTER MERGING SOME COLUMNS GOT APPENDED WITH x-> URBAN, y-> RURAL
df_overall = df_overall.astype({'TOT_P_x':float,'TOT_P_y':float,'percentage-3-lang_x':float,'percentage-3-lang_y':float,'percentage-2-lang_x':float,'percentage-2-lang_y':float,'percentage-1-lang_x':float,'percentage-1-lang_y':float})
# URBAN TO RURAL POPULATION RATIO
df_overall['utor-populationratio'] = df_overall['TOT_P_x']/df_overall['TOT_P_y']
# URBAN TO RURAL RATIO OF LANGUAGES 1,2,3+
df_overall['utor-3-lang'] = df_overall['percentage-3-lang_x'] / df_overall['percentage-3-lang_y']
df_overall['utor-2-lang'] = df_overall['percentage-2-lang_x'] / df_overall['percentage-2-lang_y']
df_overall['utor-1-lang'] = df_overall['percentage-1-lang_x'] / df_overall['percentage-1-lang_y']

In [16]:
df_overall

,state/ut,AreaName,Persons-Numberspeakingsecondlanguage_x,Persons-Numberspeakingthirdlanguage_x,TOT_P_x,Persons-Numberspeakingfirstlanguage_x,percentage-3-lang_x,percentage-2-lang_x,percentage-1-lang_x,Persons-Numberspeakingsecondlanguage_y,Persons-Numberspeakingthirdlanguage_y,TOT_P_y,Persons-Numberspeakingfirstlanguage_y,percentage-3-lang_y,percentage-2-lang_y,percentage-1-lang_y,utor-populationratio,utor-3-lang,utor-2-lang,utor-1-lang
0,00,INDIA,326480534.0,50625591.0,377106125.0,224758840.0,13.424760,86.575240,59.600952,798364863.0,35383989.0,833748852.0,671107367.0,4.243963,95.756037,80.492749,0.452302,3.163261,0.904123,0.740451
1,01,JAMMU & KASHMIR,2595746.0,837496.0,3433242.0,1417290.0,24.393736,75.606264,41.281389,7849336.0,1258724.0,9108060.0,4940822.0,13.819891,86.180109,54.246700,0.376945,1.765118,0.877305,0.760994
2,02,HIMACHAL PRADESH,622083.0,66469.0,688552.0,427365.0,9.653447,90.346553,62.067208,5895233.0,280817.0,6176050.0,5194532.0,4.546871,95.453129,84.107674,0.111487,2.123097,0.946502,0.737949
3,03,PUNJAB,6800103.0,3599043.0,10399146.0,4447102.0,34.609025,65.390975,42.764108,13113322.0,4230870.0,17344192.0,10261012.0,24.393584,75.606416,59.161084,0.599575,1.418776,0.864887,0.722842
4,04,CHANDIGARH,708833.0,317626.0,1026459.0,458262.0,30.943857,69.056143,44.644940,24638.0,4353.0,28991.0,17268.0,15.015005,84.984995,59.563313,35.406126,2.060862,0.812569,0.749538
5,05,UTTARAKHAND,2932127.0,117211.0,3049338.0,2126813.0,3.843818,96.156182,69.746712,6966343.0,70611.0,7036954.0,6201723.0,1.003431,98.996569,88.130788,0.433332,3.830674,0.971308,0.791400
6,06,HARYANA,8234499.0,607604.0,8842103.0,5972284.0,6.871714,93.128286,67.543705,15946392.0,562967.0,16509359.0,13751817.0,3.409987,96.590013,83.297098,0.535581,2.015173,0.964161,0.810877
7,07,NCT OF DELHI,15016140.0,1352759.0,16368899.0,9650398.0,8.264203,91.735797,58.955694,413568.0,5474.0,419042.0,320329.0,1.306313,98.693687,76.443173,39.062669,6.326357,0.929500,0.771236
8,08,RAJASTHAN,16650841.0,397244.0,17048085.0,13821925.0,2.330139,97.669861,81.076115,50890845.0,609507.0,51500352.0,47253326.0,1.183501,98.816499,91.753404,0.331029,1.968853,0.988396,0.883631
9,09,UTTAR PRADESH,43177247.0,1317816.0,44495063.0,32539351.0,2.961713,97.038287,73.130250,154049430.0,1267848.0,155317278.0,144399381.0,0.816296,99.183704,92.970584,0.286479,3.628236,0.978369,0.786596
10,10,BIHAR,11338120.0,419896.0,11758016.0,8926488.0,3.571147,96.428853,75.918318,91078760.0,1262676.0,92341436.0,78411179.0,1.367399,98.632601,84.914403,0.127332,2.611634,0.977657,0.894057
11,11,SIKKIM,90352.0,63226.0,153578.0,38809.0,41.168657,58.831343,25.269895,338823.0,118176.0,456999.0,182769.0,25.859138,74.140862,39.993304,0.336058,1.592035,0.793508,0.631853
12,12,ARUNACHAL PRADESH,191332.0,126037.0,317369.0,90088.0,39.713078,60.286922,28.385885,773844.0,292514.0,1066358.0,407694.0,27.431125,72.568875,38.232376,0.297620,1.447738,0.830755,0.742457
13,13,NAGALAND,339671.0,231295.0,570966.0,146787.0,40.509417,59.490583,25.708536,1101350.0,306186.0,1407536.0,601992.0,21.753333,78.246667,42.769208,0.405649,1.862217,0.760295,0.601099
14,14,MANIPUR,593419.0,240735.0,834154.0,403412.0,28.859779,71.140221,48.361813,1645557.0,376083.0,2021640.0,1063762.0,18.602867,81.397133,52.618765,0.412613,1.551362,0.873989,0.919098
15,15,MIZORAM,536922.0,34849.0,571771.0,385277.0,6.094923,93.905077,67.383096,507318.0,18117.0,525435.0,402226.0,3.448000,96.552000,76.551048,1.088186,1.767669,0.972586,0.880237
16,16,TRIPURA,874349.0,87104.0,961453.0,691593.0,9.059621,90.940379,71.932065,2600991.0,111473.0,2712464.0,1713723.0,4.109658,95.890342,63.179567,0.354457,2.204471,0.948379,1.138534
17,17,MEGHALAYA,443822.0,151628.0,595450.0,246828.0,25.464439,74.535561,41.452347,2248136.0,123303.0,2371439.0,1897741.0,5.199501,94.800499,80.024871,0.251092,4.897477,0.786236,0.517993
18,18,ASSAM,3015418.0,1383124.0,4398542.0,1719809.0,31.445056,68.554944,39.099524,23837661.0,2969373.0,26807034.0,15025176.0,11.076843,88.923157,56.049379,0.164082,2.838810,0.770946,0.697591
19,19,WEST BENGAL,26876072.0,2216930.0,29093002.0,21035741.0,7.620149,92.379851,72.305158,61519038.0,664075.0,62183113.0,55214526.0,1.067935,98.932065,88.793441,0.467860,7.135407,0.933771,0.814307
20,20,JHARKHAND,7272224.0,660837.0,7933061.0,4920692.0,8.330164,91.669836,62.027659,24122871.0,932202.0,25055073.0,18066722.0,3.720612,96.279388,72.108040,0.316625,2.238923,0.952123,0.860204
21,21,ODISHA,4839443.0,2164213.0,7003656.0,3210025.0,30.901189,69.098811,45.833562,31609497.0,3361065.0,34970562.0,24939169.0,9.611127,90.388873,71.314750,0.200273,3.215147,0.764461,0.642694
22,22,CHHATTISGARH,5712111.0,225126.0,5937237.0,4647825.0,3.791764,96.208236,78.282625,19410518.0,197443.0,19607961.0,17513150.0,1.006953,98.993047,89.316528,0.302797,3.765581,0.971869,0.876463
23,23,MADHYA PRADESH,19374190.0,695215.0,20069405.0,15590078.0,3.464054,96.535946,77.680818,51994666.0,562738.0,52557404.0,47228049.0,1.070711,98.929289,89.859935,0.381857,3.235283,0.975808,0.864466
24,24,GUJARAT,20205800.0,5539283.0,25745083.0,11301082.0,21.515887,78.484113,43.896079,31663321.0,3031288.0,34694609.0,23246269.0,8.737058,91.262942,67.002539,0.742049,2.462601,0.859978,0.655141
25,25,DAMAN & DIU,156058.0,26793.0,182851.0,95021.0,14.652914,85.347086,51.966355,52587.0,7809.0,60396.0,31597.0,12.929664,87.070336,52.316379,3.027535,1.133279,0.980209,0.993309
26,26,DADRA & NAGAR HAVELI,128737.0,31858.0,160595.0,71944.0,19.837479,80.162521,44.798406,143456.0,39658.0,183114.0,72782.0,21.657547,78.342453,39.746824,0.877022,0.915962,1.023232,1.127094
27,27,MAHARASHTRA,37166505.0,13651754.0,50818259.0,17777066.0,26.863876,73.136124,34.981651,55483099.0,6072975.0,61556074.0,37177406.0,9.865761,90.134239,60.395999,0.825560,2.722940,0.811413,0.579205
28,28,ANDHRA PRADESH,24236211.0,3982864.0,28219075.0,17498173.0,14.114084,85.885916,62.008315,54000190.0,2361512.0,56361702.0,45499270.0,4.189923,95.810077,80.727282,0.500678,3.368578,0.896418,0.768121
29,29,KARNATAKA,17842020.0,5783942.0,23625962.0,10115820.0,24.481297,75.518703,42.816542,35421148.0,2048187.0,37469335.0,26726883.0,5.466302,94.533698,71.330017,0.630541,4.478585,0.798855,0.600260
30,30,GOA,427346.0,479468.0,906814.0,193504.0,52.873908,47.126092,21.338885,289950.0,261781.0,551731.0,138889.0,47.447216,52.552784,25.173318,1.643580,1.114373,0.896738,0.847679
31,31,LAKSHADWEEP,42358.0,7974.0,50332.0,35286.0,15.842804,84.157196,70.106493,12134.0,2007.0,14141.0,10634.0,14.192773,85.807227,75.199774,3.559296,1.116259,0.980770,0.932270
32,32,KERALA,14106456.0,1828470.0,15934926.0,11585010.0,11.474606,88.525394,72.702001,16110792.0,1360343.0,17471135.0,13657664.0,7.786231,92.213769,78.172735,0.912072,1.473705,0.960002,0.930017
33,33,TAMIL NADU,33038946.0,1878494.0,34917440.0,22591587.0,5.379816,94.620184,64.700010,36660921.0,568669.0,37229590.0,29139173.0,1.527465,98.472535,78.268853,0.937895,3.522055,0.960879,0.826638
34,34,PUDUCHERRY,786117.0,66636.0,852753.0,541442.0,7.814221,92.185779,63.493415,390171.0,5029.0,395200.0,314219.0,1.272520,98.727480,79.508856,2.157776,6.140744,0.933740,0.798570
35,35,ANDAMAN & NICOBAR ISLANDS,108916.0,34572.0,143488.0,38663.0,24.094001,75.905999,26.945110,198957.0,38136.0,237093.0,84493.0,16.084827,83.915173,35.637071,0.605197,1.497933,0.904556,0.756098

In [17]:
# COMPUTING P VALUES
p_values = []
for index, row in df_overall.iterrows():
    a = [row['utor-3-lang'],row['utor-2-lang'],row['utor-1-lang']]
    b = [row['utor-populationratio'],row['utor-populationratio'],row['utor-populationratio']]
    ttest,p_value = ttest_ind(a,b,equal_var=False)
    p_values.append(p_value)

In [18]:
p_values

[0.2790102034939975,
 0.13948436751609206,
 0.1152293718293435,
 0.19837319735360037,
 0.00015585558893307493,
 0.28322695822161364,
 0.19439571623200386,
 0.0025085704268678886,
 0.11092821531908417,
 0.24108214560260635,
 0.13435878314237507,
 0.1526643082072778,
 0.08545585370814666,
 0.2336673968326268,
 0.08481153326761355,
 0.714558725052488,
 0.11051467674851494,
 0.3285278441502484,
 0.21168291273804674,
 0.3547485421734262,
 0.1458468701926638,
 0.25077776184686507,
 0.23968755553998164,
 0.23196734902384059,
 0.4143590924380973,
 0.0006042293020221918,
 0.1403028360322771,
 0.5060772366312816,
 0.29879951654595016,
 0.40252950364679463,
 0.013790293152851905,
 0.0004660010146191213,
 0.3575919150318061,
 0.4429096097413052,
 0.8156166045767077,
 0.18689802301117112]

In [19]:
df_overall['p-value']=p_values

In [20]:
final_df = df_overall[['state/ut','percentage-3-lang_x','percentage-2-lang_x','percentage-1-lang_x','percentage-3-lang_y','percentage-2-lang_y','percentage-1-lang_y','p-value']]
final_df.columns = [['state/ut','percentage-3-lang-urban','percentage-2-lang-urban','percentage-1-lang-urban','percentage-3-lang-rural','percentage-2-lang-rural','percentage-1-lang-rural','p-value']]
fc_df = final_df[['state/ut','percentage-3-lang-urban','percentage-3-lang-rural','p-value']]
fb_df = final_df[['state/ut','percentage-2-lang-urban','percentage-2-lang-rural','p-value']]
fa_df = final_df[['state/ut','percentage-1-lang-urban','percentage-1-lang-rural','p-value']]
fc_df.rename(columns={'percentage-3-lang-urban':'urban-percentage','percentage-3-lang-rural':'rural-percentage'},inplace=True)
fb_df.rename(columns={'percentage-2-lang-urban':'urban-percentage','percentage-2-lang-rural':'rural-percentage'},inplace=True)
fa_df.rename(columns={'percentage-1-lang-urban':'urban-percentage','percentage-1-lang-rural':'rural-percentage'},inplace=True)

c:\users\siddh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [21]:
#final_df.to_csv (r'geography-india.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE

In [22]:
fa_df.to_csv (r'geography-india-a.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE
fb_df.to_csv (r'geography-india-b.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE
fc_df.to_csv (r'geography-india-c.csv', index = None, header=True) # WRITING FINAL DATAFRAME INTO CSV FILE